<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="empresas" href="/tabs/empresas">
      <ion-icon name="storefront-outline" aria-hidden="true"></ion-icon>
      <ion-label>Empresas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="citas" href="/tabs/citas">
      <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
      <ion-label>Mis citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mensajes" href="/tabs/mensajes">
      <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
